/* ==================== IMPORT CUSTOM FONTS ==================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'AnzaHeader';
    src: url('Fonts/Anza-header.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DelRay';
    src: url('../Fonts/DelRay-subtitle.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ==================== BACKGROUND ==================== */
body {
    font-family: 'Inter', sans-serif;
    background: #FFDF05;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* ==================== NAVIGATION ==================== */
header {
    background-color: #101010;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
/* Spacing */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
/* Font */
.nav-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 20px; /* Spacing between items */
    margin-right: 60px;
    font-family: 'DelRay', sans-serif;
}
.logo {
    width: 30px; 
    height: 30px;
}
.nav-item:hover {
    color: #E63A3F;
}

/* ==================== TITLE & SUBTITLE ==================== */
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px auto 20px;
}
.title-icon {
    width: 50px;
    height: auto;
}
.title {
    font-family: 'AnzaHeader', sans-serif;
    font-size: 80px;
    font-weight: normal;
    color: #BC2025;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 1.1;
}
.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    max-width: 600px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto 60px;
    display: block;
    margin-top: -50px;
}

/* ==================== KEY ==================== */
.key-banner {
    width: 70%;
    max-width: 700px;
    margin: 0px 0;
}

/* ==================== CUSTOMIZE FIT SECTION ==================== */
.fit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 50px;
}
.fit-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    position: relative;
}
.arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    margin: 0 20px;
}

.red { color: #BC2025; }
.blue { color: #3A99E6; }
.green { color: #00943A; }
.purple { color: #9E27B5; }

.fit-image {
    height: auto;
    transition: opacity 0.3s ease-in-out;
    width: 210px;
}

/* ==================== NAV BUTTONS ==================== */
.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.back-button, .next-button {
    padding: 16px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.back-button {
    background: transparent;
    color: #BC2025;
    border: 4px solid #BC2025;
}
.next-button {
    background: #BC2025;
    color: white;
    border: none;
}
.back-button:hover {
    background: transparent;
    color: black;
    border: 4px solid black;
}
.next-button:hover {
    background: black;
    color: white;
}