/* Import custom font */
@font-face {
    font-family: 'AnzaHeader';
    src: url('Fonts/Anza-header.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Apply Inter to the whole page */
body {
    font-family: 'Inter', sans-serif;
}
/* Overall page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFD400;
    color: #FF3B30;
    text-align: center;
}

/* Navigation bar - bg */
header {
    background-color: black;
    padding: 15px 20px;
}
/* Navigation bar - spacing */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

/* Navigation bar - font */
.nav-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 20px; /* Spacing between items */
}

/* Logo - size */
.logo {
    width: 30px; 
    height: 30px;
}

/* Paragraph spacing - .content and .content p are separate if <p> needs different styles */
.content {
    max-width: 900px; /* Match header width */
    margin: 20px auto; /* Center it */
    padding: 0 20px; /* Match nav padding */
}
.content p {
    text-align: left; 
    color: black;
    font-size: 16px;
    line-height: 1.5;
}

/* Default paragraph font for all pages */
p {
    font-family: 'Inter', sans-serif;
    font-weight: 450; /* 600 = semi bold; 300 - light */
    font-size: 16px;
    line-height: 1.6;
    color: #333; 
}

/* Default h1 size for all pages */
.header h1 {
    font-family: 'AnzaHeader', sans-serif;
    font-size: 32px; 
    font-weight: normal; /* unbold font for h1 */
    word-spacing: -40px; /* decrease spacing b/w words*/
    letter-spacing: 7px; /* decrease spacing b/w letters*/
    line-height: 0.9; /* decrease spacing line*/
}
/* h1 size for Tyler's page */
.tyler-page h1 {
    font-family: 'AnzaHeader', sans-serif;
    font-size: 150px;
    font-weight: normal; /* unbold font*/
    word-spacing: -40px; /* decrease spacing b/w words*/
    letter-spacing: 7px; /* decrease spacing b/w letters*/
    line-height: 0.9; /* decrease spacing line*/
}

/* Change "Learn More" default text and when hovering */
.learn-more {
    color: red; 
    text-decoration: none; /* No underline */
    cursor: pointer;
}
.learn-more:hover {
    color: red; /* Change color on hover */
    text-decoration: underline; /* Add underline on hover */
}